<div class="container">
       <div class="jumbotron">
       <div class="row">
          <h1>FAQ</h1>
 <p>Get know in detail about <mark>BeAChef</mark></p>
           <!-- <div class="col-md-12">
               <div class="row">

             <div class="card">


   <!--Card content-->

   <!-- <div class="card-block">
       <!--Title-->

       <!--Text-->
       <!-- <p class="card-text" ><b>How do you subscribe to PartyGuard? </b></p>
       <p></p>



   </div>
       </div>


 </div>
       </div> -->
       <!-- <div class="col-md-12">
           <div class="row">

         <div class="card"> -->


<!--Card content-->
<!--
<div class="card-block"> -->
   <!--Title-->

   <!--Text-->
   <!-- <p class="card-text" ><b>How can I contact the authority?</b> </p>
   <p>You can use the contact page and fill in your questions and you'll be assisted soon.
 </p>



</div>
   </div>


</div>
   </div>
   <div class="col-md-12">
       <div class="row">

     <div class="card"> -->


<!--Card content-->
<!--
<div class="card-block"> -->
<!--Title-->

<!--Text-->
<!-- <p class="card-text" ><b>Do one need register first to use the application?</b> </p>
<p>Yes,To access the information you need to register with your details.
</p> -->



<!-- </div>
</div> -->

<!--<img src="http://www.nwmissouri.edu/greek/images/Greek%20Welcome%20Page/Home1.JPG" class="img-rounded" alt="About Us">-->
<!-- </div>
</div>
<div class="col-md-12">
    <div class="row">

  <div class="card">
 -->

<!--Card content-->

<!-- <div class="card-block"> -->
<!--Title-->

<!--Text-->
<!-- <p class="card-text" ><b>Can a women send an emergency alert through web?</b> </p>
<p>No, Alerts can be sent only through your mobile application.
</p>



</div>
</div> -->

<!--<img src="http://www.nwmissouri.edu/greek/images/Greek%20Welcome%20Page/Home1.JPG" class="img-rounded" alt="About Us">-->
<!-- </div>
</div>
<div class="col-md-12">
    <div class="row">

  <div class="card"> -->


<!--Card content-->

<!-- <div class="card-block"> -->
<!--Title-->

<!--Text-->
<!-- <p class="card-text" ><b>Can a person pay the registration fee in cash?</b> </p>
<p>No,you have to pay through cheque.
</p>
 -->


<!-- </div>
</div> -->

<!--<img src="http://www.nwmissouri.edu/greek/images/Greek%20Welcome%20Page/Home1.JPG" class="img-rounded" alt="About Us">-->
<!-- </div>
</div>
<div class="col-md-12">
    <div class="row">

  <div class="card"> -->


<!--Card content-->

<!-- <div class="card-block"> -->
<!--Title-->

<!--Text-->
<!-- <p class="card-text" ><b>Can the outsiders register with this application?</b> </p>
<p>No, Only the people registered with particular fraternity can use this application.</p>




</div>
</div> -->

<!--<img src="http://www.nwmissouri.edu/greek/images/Greek%20Welcome%20Page/Home1.JPG" class="img-rounded" alt="About Us">-->
<!-- </div>
</div>
<div class="col-md-12">
    <div class="row">

  <div class="card"> -->


<!--Card content-->

<!-- <div class="card-block"> -->
<!--Title-->

<!--Text-->
<!-- <p class="card-text" ><b>Can the women act work as a guard user?</b> </p>
<p>Generally we prefer men to work as guards for the events.</p>




</div>
</div> -->

<!--<img src="http://www.nwmissouri.edu/greek/images/Greek%20Welcome%20Page/Home1.JPG" class="img-rounded" alt="About Us">-->

       </div>
