<div class="container">
       <div class="jumbotron">
       <div class="row">
          <h1>FAQ</h1>
 <p>Get know in detail about <mark>BeAChef</mark></p>



       </div>


 </div>

       <div class="col-md-12">
           <div class="row">


<!--Card content-->

<div class="card">
   <!--Title-->

   <!--Text-->
   <p class="card-text" ><b>1.How can I upload the image of my recipe?</b> </p>
   <p>You can be able to capture it with camera in the app or can upload it from saved photos.
 </p>



</div>

<br>
<!--Card content-->

<div class="card">
   <!--Title-->

   <!--Text-->
   <p class="card-text" ><b> 2.Can I like my own recipes?</b> </p>
   <p>You can be able to capture it with camera in the app or can upload it from saved photos.
 </p>



</div>
<br>

<!--Card content-->

<div class="card">
   <!--Title-->

   <!--Text-->
   <p class="card-text" ><b>3.Can I share the recipe with my friends?</b> </p>
   <p>Yes, you can share your recipes with your friends by sharing it in social networking apps like Facebook etc.
 </p>



</div>
<br>




<!--Card content-->

<div class="card">
   <!--Title-->

   <!--Text-->
   <p class="card-text" ><b>4.How can I make the recipe as my favorite?</b> </p>
   <p>You can make recipe as your favorite by liking it.
 </p>




</div>

<br>

<!--Card content-->

<div class="card">
   <!--Title-->

   <!--Text-->
   <p class="card-text" ><b>
    5.Can I invite friends to join the app?</b> </p>
   <p>Yes, you can invite your friend from the option “Tell A Friend”.
 </p>




</div>

<br>
<!--Card content-->

<div class="card">
   <!--Title-->

   <!--Text-->
   <p class="card-text" ><b>6. Can I report on the recipe post if it is a spam?</b> </p>
   <p>Yes, you can click on report option and select that it is a spam. We will verify and delete the recipe post.
 </p>




</div>



   </div>


</div>

</div>
