<div id="wrapper">

<form name="form" ng-submit="login()" role="form">

       <!-- Page Content -->
       <div id="page-content-wrapper">
           <div class="container" >
<!--                first row-->
       <div class="row">
                  <div class="col-md-12">
                      <h1>Forgot Password</h1>
                  </div>
       <!--First column-->
       <div class="col-md-4">
           <div class="md-form">
               <i class="fa fa-user prefix"></i>
               <input type="text" id="form41" ng-model="password" placeholder="Enter you Pin" class="form-control" required>
               <!-- <label for="form41" class="">Username</label> -->
           </div>

       </div>


   </div>
   <!--/.first row-->

<!--    second row-->
<div class="row">

       <!--First column-->
       <div class="col-md-4">
           <div class="md-form">
               <i class="fa fa-lock prefix"></i>
               <input type="password" id="form41" ng-model="password" placeholder="New Password" class="form-control" required>
               <!-- <label for="form41" class="">Password</label> -->
           </div>
       </div>
   </div>
<!--    second row-->
<!--    second row-->
<div class="row">

       <!--First column-->
       <div class="col-md-4">
           <div class="md-form">
               <i class="fa fa-lock prefix"></i>
               <input type="password" id="form41" ng-model="password" placeholder="Confirm Password" class="form-control" required>
               <!-- <label for="form41" class="">Password</label> -->
           </div>
       </div>
   </div>
<!--    second row-->


<!--third row-->
<div class="row">

   <div class="col-md-10">
       <button type="submit"   class="btn btn-warning-outline">Save</button>
       <a class="btn btn-warning-outline">Reset</a>
   </div>
   <div class="col-md-4">

   </div>

</div>
<div class="row">



</div>
<div class="row">

   <!-- <div class="col-md-8">
       <a href="newCustomer.html" class="btn btn-primary-outline">Host User</a>
       <a href="guardHP.html" class="btn btn-primary-outline">Guard User</a>
        <a href="memberHP.html" class="btn btn-primary-outline">Basic User</a>
   </div> -->
   <div class="col-md-6">
   <div class="modal-footer">
       <div class="options">
           <p>Want to register as Guard? <a href="/GuardUserRegistration">Sign Up</a></p>""
           <p>Forgot <a href="/Forgotpassword">Password?</a></p>
       </div>
   </div>
 </div>
</div>

<!--Third row end-->


           </div>
       </div>
       <!-- /#page-content-wrapper -->
 </form>
   </div>

   <!-- /#wrapper -->
