<div id="wrapper">

<form name="form" ng-submit="update(user)" role="form">

       <!-- Page Content -->
       <div id="page-content-wrapper">
           <div class="container" >
<!--                first row-->
       <div class="row">
                  <div class="col-md-12">
                      <h1>PartyGuard Login</h1>
                  </div>
       <!--First column-->
       <div class="col-md-4">
           <div class="md-form">
               <i class="fa fa-user prefix"></i>
               <input type="email" id="form41" ng-model="user.username" placeholder="Enter your Username" class="form-control" required>
               <!-- <label for="form41" class="">Username</label> -->
           </div>

       </div>

       <!--Second column-->
       <div class="col-md-4">
           <div class="md-form">
                <i class="fa fa-qrcode prefix"></i>
               <input type="text" id="form61" placeholder="Enter user Code" ng-model="user.UserCode" class="form-control" required>
               <!-- <label for="form61" class="">Guard User Code</label> -->
           </div>
       </div>


   </div>
   <!--/.first row-->

<!--    second row-->
<div class="row">

       <!--First column-->
       <div class="col-md-4">
           <div class="md-form">
               <i class="fa fa-lock prefix"></i>
               <input type="password" id="form41" ng-model="user.password" placeholder="Enter new Password" class="form-control" required>
               <!-- <label for="form41" class="">Password</label> -->
           </div>
       </div>
       <div class="col-md-4">
           <div class="md-form">
               <i class="fa fa-lock prefix"></i>
               <input type="password" id="form41" ng-model="user.cnfpassword" placeholder="Confirm your Password" class="form-control" required>
               <!-- <label for="form41" class="">Password</label> -->
           </div>
       </div>


   </div>
<div class = "row">
  <label ><h4><strong>User Type: </strong></h4></label>&nbsp;&nbsp;
  <div id="radioBtn" class="btn-group">

        <label><h4> <input type="radio" name="test" ng-model="user.userType" value="host"/> Host</h4> </label>
          &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;<label><h4><input type="radio" name="test" ng-model="user.userType" value="guard"/> Guard </h4> </label>
            &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;<label><h4><input type="radio" name="test" ng-model="user.userType" value="basic"/> Basic </h4> </label>


  </div>
</div>

<!--    second row-->
<!--third row-->
<div class="row">

   <div class="col-md-10">
       <button type="submit"   class="btn btn-warning-outline">Reset Password</button>
   </div>




</div>
<div class="row">
  <div class="col-md-8">
  <div class="alert alert-success" role="alert" ng-show="showSuccessAlert">
<button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">×</button> <strong> {{successTextAlert}}</strong></div>
</div>


</div>


<!--Third row end-->


           </div>
       </div>
       <!-- /#page-content-wrapper -->
 </form>
   </div>

   <!-- /#wrapper -->
