<div class="container">
       <div class="jumbotron">
       <div class="row">
          <h1>How It Works</h1>
            <div class="col-md-12">
          <div class="card">


   <!--Card content-->

   <div class="card-block">
       <!--Title-->
       <h4 class="card-title"><b>BeAChef</b></h4>
       <!--Text-->
       <div style="display:inline">
      <p></p>
       </div>

   </div>
   <!--/.Card content-->

</div>
 <!--<p>Get know in detail about <mark>PartyGuard</mark></p>-->

 </div>
           <div class="col-md-12">
          <div class="card">


   <!--Card content-->

   <div class="card-block">
       <!--Title-->
       <h4 class="card-title"><b>BeAChef</b></h4>
       <!--Text-->
       <div class="card-text" style="list-style-type:circle">
         <p>
</p>

       </div>


   </div>
   <!--/.Card content--</div>
 <!--<p>Get know in detail about <mark>PartyGuard</mark></p>-->

 </div>
           <div class="col-md-12">
          <div class="card">


   <!--Card content-->

   <!--/.Card content-->

</div>
 <!--<p>Get know in detail about <mark>PartyGuard</mark></p>-->

 </div>

       </div>
           </div>
       </div>
</div>
