<div class="container">
        <div class="jumbotron">
        <div class="row">
          <div class="col-md-3">
           <h1>Contact Us</h1>
  <p>Get know in detail about <mark>PartyGuard</mark></p>
  <div class="row">
            <div class="col-md-3">



              <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/13707679_10206914773922204_8431267488655394864_n.jpg?oh=6f4de5d218a4edf5eeeaa1606cdf6971&oe=5843778F" class="img-rounded" height="200" width="200" alt="About Us">
  </div>
</div>
         <div class="col-md-8">

  <strong>
    <p class="text-center"> Jacob C Stanbury </p>
    <p class="text-center">S516098@mail.nwmissouri.edu</p>
  </strong>
</div>
</div>
<div class="col-md-9">
  <div class="col-lg-8 col-lg-offset-2">

      <h1>PartyGuard Contact form </h1>



      <form id="contact-form" method="post" ng-submit = "update(user)">

          <div class="messages"></div>

          <div class="controls">

              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="form_name">Firstname *</label>
                          <input id="form_name" type="text" name="name" ng-model="user.fname" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                          <div class="help-block with-errors"></div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="form_lastname">Lastname *</label>
                          <input id="form_lastname" type="text" name="surname" ng-model="user.lname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                          <div class="help-block with-errors"></div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="form_email">Email *</label>
                          <input id="form_email" type="email" name="email" class="form-control" ng-model="user.email" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                          <div class="help-block with-errors"></div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="form_phone">Phone</label>
                          <input id="form_phone" type="tel" name="phone" class="form-control" ng-model="user.mbl" placeholder="Please enter your phone">
                          <div class="help-block with-errors"></div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-group">
                          <label for="form_message">Message *</label>
                          <textarea id="form_message" name="message" class="form-control" ng-model="user.msg" placeholder="Message for me *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                          <div class="help-block with-errors"></div>
                      </div>
                  </div>
                  <div class="col-md-12">
                      <!-- <input type="submit" class="btn btn-success btn-send"  value="Send message"> -->
                      <button type="submit" id="send_email" class="btn btn-success btn-send" >Send message</button>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <p class="text-muted"><strong>*</strong> These fields are required.</p>
                  </div>
                    <div class="col-md-12">
                  <span  id="message" ng-model="msg">{{msg}}</span>
                </div>
              </div>
          </div>

      </form>

  </div>
</div>
        </div>
            </div>


        </div>
