<div class="container">
       <div class="jumbotron">
       <div class="row">
          <h1>Privacy Policy</h1>
 <p>Get know in detail about <mark>BeAChef's</mark> privacy policy</p>
      <div class="col-md-12">

 <blockquote>
   <p>Hello Users,</p>
<p align = "justify"> <b>Privacy Policy:</b>
At BeAChef, we understand our role and our social obligation in protecting all personal information held by us. As such, we have drawn up this personal information protection policy ("Privacy Policy") to explicitly state the intention of all our BeAChef team to obey all applicable laws and regulations on personal information usage and disclosure, to implement an appropriate data protection management system, and to maintain and enhance such system considering the social and technological changes of an ever-evolving society.
<br></br>
<b>Information Collection and Use:</b>
BeAChef provides this Privacy Policy to inform you of our policies and procedures regarding the collection, use and disclosure of personal information we receive from users of the BeAChef Services. This Privacy Policy may be updated from time to time. We will notify you of any material changes by posting the new Privacy Policy on the Site. You are advised to consult this policy regularly for any changes. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms of Service. In our app users, must login through either Google or Facebook. The only information we collect from the users account are their name and the profile picture.
<br></br>
Our primary goals in collecting information are to provide and improve our Services and to enable users to enjoy and easily navigate the Services.
<br></br>
<b>Personally Identifiable Information:</b>
If you create an Account using your login from a Social Network Site, we will access and collect the information about you that your privacy settings on that Social Network Site permits us to access so that we can create an Account for you.
<br></br>
<b>Information Shared with Others:</b>
If you create a new recipe it will be viewed to all the users in BeAChef app and they can like the recipe. If the recipe you posted is a spam other users can report on your recipe. If you want to share it with others in your social network connections, you can share it by the share option provided by our team.
<br></br>
<b>Changing or Deleting Your Information:</b>
All registered users can view their profile but cannot edit their profile information. If you want to completely delete all the information from BeAChef app you can delete your account so that you are no longer a user of BeAChef app.
<br></br>
<b>International Transfer:<b>
Your information may be transferred to and maintained on computers located outside of your state, province, country or other governmental jurisdiction where the privacy laws may not be as protective as those in your jurisdiction. If you are located outside USA and choose to provide information to us, BeAChef transfers Personal Information to USA and processes it there. Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.
<br></br>
<b>Links to Other Sites:</b>
Our app contains links to other websites. If you choose to visit an advertiser by "clicking on" a banner ad or other type of advertisement, or click on another third-party link, you will be directed to that third party's website. The fact that we link to a website or present a banner ad or other type of advertisement is not an endorsement, authorization or representation of our affiliation with that third party, nor is it an endorsement of their privacy or information security policies or practices. We do not exercise control over third party websites. These other websites may place their own cookies or other files on your mobile, collect data or solicit personal information from you. Other sites follow different rules regarding the use or disclosure of the personal information you submit to them. We encourage you to read the privacy policies or statements of the other websites you visit.
<br></br>
<b>Our Policy Toward Children:</b>
This Site or App is not directed to children and we do not knowingly collect personally identifiable information from children under 13. If we become aware that we have collected Personal Information from a child under 13, we will take steps to delete such information from our files as soon as possible.
</center></p>
<p>Thanks,<br>
<b><i>BeAChef</i></b></br></p>
    </blockquote>
</div>
       </div>
           </div>
       </div>
